@use "../styles/abstracts/fonts";
@use "../styles/abstracts/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html,
body,
#root {
  width: 100%;
  height: 100vh;
  font-family: variables.$Roboto;
  position: relative;
  overflow: hidden;
}
