// Fonts
$RobotoBlack: "Roboto-Black";
$RobotoBold: "Roboto-Bold";
$RobotoItalic: "Roboto-Italic";
$RobotoLight: "Roboto-Light";
$RobotoLightItalic: "Roboto-LightItalic";
$RobotoMedium: "Roboto-Medium";
$RobotoMediumItalic: "Roboto-MediumItalic";
$Roboto: "Roboto";
$RobotoThin: "Roboto-Thin";
$RobotoThinItalic: "Roboto-ThinItalic";

// Colors
$DodgeBlue: #1e90ff;
$CornflowerBlue: #6495ed;
$SteelBlue: #4682b4;
$DarkGray: #a9a9a9;
$Gray: #808080;
$LightGrey: #d3d3d3;
$NavajoWhite: #ffdead;
$Black: #000;
$White: #fff;
$MidnightBlue: #191970;
$MediumBlue: #0000cd;
