@use "../app/styles/components/pageDefault";
@use "../app/styles/components/card";
@use "../app/styles/abstracts/variables";

.home_section {
  @include pageDefault.pageDefaultStyle;
  justify-content: center;
  align-items: center;
  background-color: variables.$DodgeBlue;
  flex-direction: column;

  a {
    text-decoration: none;
    color: variables.$White;
  }

  img {
    user-select: none;
    pointer-events: none;
  }
}
